In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
x1 = np.random.normal(loc = 3 , scale=1, size=100)
x2 = (2*x1) + 5 + np.random.random(size = 100)

training_data = pd.DataFrame(data={'X1': x1, 'X2':x2})

In [5]:
training_data

          X1         X2
0   5.588766  16.259602
1   4.240836  14.122093
2   3.414445  12.379308
3   1.432227   8.511360
4   4.460862  14.582664
..       ...        ...
95  2.477167  10.283494
96  3.611033  12.479820
97  3.735905  13.115590
98  4.169322  13.738616
99  4.621839  14.773083

[100 rows x 2 columns]

In [6]:
sigma = training_data.cov()

In [7]:
sigma

          X1        X2
X1  0.901633  1.804817
X2  1.804817  3.702494

In [8]:
factorize_sigma = np.linalg.svd(sigma)

In [9]:
factorize_sigma

SVDResult(U=array([[-0.43986598, -0.89806343],
       [-0.89806343,  0.43986598]]), S=array([4.58648199, 0.01764441]), Vh=array([[-0.43986598, -0.89806343],
       [-0.89806343,  0.43986598]]))